@model ITS.Domain.Entities.Issue

    <div id="edit-dialog" title="Edit issue" class="order_bg" style="display:none">
        @using (Html.BeginForm("Issue", "SingleIssue", FormMethod.Post, new { @id = "sForm" }))
        {
            @Html.HiddenFor(x => x.Id)
            @Html.TextBoxFor(x => x.Title)
            @Html.TextAreaFor(x => x.Description)
            var model = new ITS.Models.IssuesViewModel();
            var list = model.Users();
            var statuses = model.Statuses();
            @Html.DropDownListFor(x => x.AssignedTo.Id, new SelectList(list, "Id", "Username"))
            @Html.DropDownListFor(x => x.Status, new SelectList(statuses))
            @Html.HiddenFor(x => x.UserEmail)
        }
    </div>


 