@model ITS.Domain.Entities.Issue
@using Microsoft.AspNet.Identity
@using ITS.Domain.Entities
@using ITS.Utils;

@{
    ViewBag.Title = "Issue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    label, input { display:block; }
    input.text { margin-bottom:12px; width:95%; padding: .4em; }
    div.comment {
        border:none;
        /*border-color: black;
        border-width: 1px;*/
    }

    div.single-comment {
        border:solid;
        border-color: green;
        border-width: 2px;
    }

</style>


    <h2>@Model.Title</h2>

    <h3>@Model.Description</h3>

@{
    Html.RenderPartial("~/Views/Shared/_IssuePartial.cshtml", Model);
}
<div class="sidecontent">
    <a class="modalorder" href="#">
        Edit details        
    </a>

</div>

<div class="Comments">
    @foreach (var x in Model.Comments.Reverse())
    {
        <div class="single-comment">
            <div class="comment-title">
                <i>Created by @x.CommentChanges.First(y => y.TypeOfChange == "CREATION").UserEmail</i>
            </div>
            <div>
                <i>Modified last time by @x.CommentChanges.OrderByDescending(y => y.TimeOfChange).First().UserEmail</i>
            </div>
            <br />
            <div class="comment">@x.Text</div>
            <div class="comment-edit" style="display:none" id="comment-edit_@(x.Id)">
                @Html.Partial("ModifyComment", new ITS.Models.CommentViewModel()
           {
               Comment = x,
               UserEmail = User.Identity.GetUserName()
           })
            </div>
            <input type="button" id="edit-btn-@(x.Id)" value="Edit" onclick="toggle_visibility(@(x.Id))" />
            <input type="button" id="cancel-btn-@(x.Id)" value="Cancel" onclick="toggle_visibility(@(x.Id))" style="display:none" />
        </div>
    }
    <a id="addComment" href="#"> Add Comment </a>
</div>

<div class="attachments" >
    <div> Attachments: </div>
    @foreach (var attachment in Model.Attachments)
    {
        <div>
            @Html.ActionLink(@attachment.Name, "DownloadFile", "SingleIssue", new { currentIssueId = @Model.Id, fileId = @attachment.Id }, null)
            <a href="@Url.Action("DeleteAttachment", "Attachment", new { attachmentId = attachment.Id })">
                <img src="@Url.Content("~/Content/Images/delete-icon.png")" style="width:10px;height:10px;" />
            </a>
        </div>
    }

    @Html.Partial("UploadFile", new ITS.Models.AttachmentViewModel() { Attachment = new Attachment { IssueId = Model.Id } })
</div>

@Html.Partial("AddComment", new ITS.Models.CommentViewModel() {Comment = 
new ITS.Domain.Entities.Comment() { IssueId = @Model.Id },
UserEmail = User.Identity.GetUserName()})

<div class="work-log-container">
    <div id="work-log-summarry">
        A total of @Model.WorkLogs.Where(x => x.IssueId == Model.Id && x.UserId == User.Identity.GetUserId()).Sum(x => TimeUtils.ConvertMillisecondsToHours(x.MillisecondsLogged))
        hours has been logged for this issue
    </div>
    <input type="button" value="Log Work" id="work-log-btn" />
    @Html.Partial("LogWork", new WorkLog() { IssueId = @Model.Id, UserId = User.Identity.GetUserId() })
</div>

@section Scripts
{
<script type="text/javascript">
    function toggle_visibility(id) {
        var e = document.getElementById('comment-edit_' + id);
        var eBtn = document.getElementById('edit-btn-' + id);
        var cBtn = document.getElementById('cancel-btn-' + id);
        if (e.style.display == 'block') {
            e.style.display = 'none';
            eBtn.style.display = 'block';
            cBtn.style.display = 'none';
        }
        else {
            e.style.display = 'block';
            eBtn.style.display = 'none';
            cBtn.style.display = 'block';
        }
    }

    $(function () {
        var dial;
        dial = $(".order_bg").dialog({
            height: 400,
            width: 350,
            modal: true,
            autoOpen: false,
            buttons: {
                "Apply": function () {
                    console.log("Submitting");
                    document.getElementById("sForm").submit();
                },
                "Cancel": function() {
                    dial.dialog("close");
                }
            }                        
        });

        var addComm;
        addComm = $("#add-comment").dialog({
            height: 400,
            width: 350,
            modal: true,
            autoOpen: false,
            buttons: {
                "Add": function () {
                    console.log("Submitting");
                    document.getElementById("acForm").submit();
                },
                "Cancel": function () {
                    addComm.dialog("close");
                }
            }
        });

        var logWork;
        logWork = $("#log-work").dialog({
            height: 400,
            width: 350,
            modal: true,
            autoOpen: false,
            buttons: {
                "Log Work": function () {
                    console.log("Submitting Logged work");
                    document.getElementById("log-work-form").submit();
                },
                "Cancel": function () {
                    logWork.dialog("close");
                }
            }
        });

        $(".modalorder").button().on("click", function () {
            dial.dialog("open");
            console.log("EDIT ISSUE CLICKED");
        });

        $("#addComment").button().on("click", function () {
            addComm.dialog("open");
            console.log("ADD COMMENT CLICKED");
        });

        $("#work-log-btn").button().on("click", function () {
            logWork.dialog("open");
            console.log("LOG WORK DIALOG");
        });
    });
</script>
}